{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="expenses_add wrapper">
  <div class="content-top">
    <h1 class="page-title">支出の登録</h1>
  </div>
  {% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
  {% endif %}
  <div class="form-container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="id_date" class="col-sm-3 col-form-label">日付</label>
      <div class="col-sm-3">{{ form.date|add_class:"form-control" }}</div>
      <label for="id_date" class="col-sm-3 col-form-label">支払者</label>
      <div class="col-sm-3">{{ form.payer|add_class:"form-control" }}</div>
      <label for="id_date" class="col-sm-3 col-form-label">カテゴリー</label>
      <div class="col-sm-3">{{ form.category|add_class:"form-control" }}</div>
      <label for="id_date" class="col-sm-3 col-form-label">金額</label>
      <div class="col-sm-3">{{ form.price|add_class:"form-control" }}</div>
      <label for="id_date" class="col-sm-3 col-form-label">メモ</label>
      <div class="col-sm-12">{{ form.memo|add_class:"form-control" }}</div>

      <div class="form-button">
      <button type="submit" class="submit btn btn-primary">登録</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}