{% extends 'base.html' %} {% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="expenses_add wrapper">
  <div class="month-pager">
    <a
      href="{% url 'warikan:month_summary_dashboard' year=pre_month_year month=pre_month_month %}"
    >
      前月
    </a>
    <span class="ms-4 me-4">{{ year_month }}</span>
    <a
      href="{% url 'warikan:month_summary_dashboard' year=next_month_year month=next_month_month %}"
    >
      次月
    </a>
  </div>

  <div class="row">
    <h1 class="display-6">割り勘</h1>

    <div class="left">
      <div class="summary_card_warikan">
        <div class="card_title">Total</div>
        <div class="centering_item_yen">\ {{ total_warikan_expenses }}</div>
      </div>
    </div>

    <div class="right">
      <div class="container-fluid">
        <div class="row">
          <div class="col-5 summary_card_warikan">
            <div class="card_title">Yusuke 立替額</div>
            <div class="centering_item_yen">
              \ {{ yusuke_warikan_expenses }}
            </div>
          </div>
          <div class="col-5 ms-3 summary_card_warikan">
            <div class="card_title">Hinano 立替額</div>
            <div class="centering_item_yen">
              \ {{ hinano_warikan_expenses }}
            </div>
          </div>
          <div class="row">
            <div class="col-5 summary_card_warikan">
              <div class="card_title">Yusuke 支払額</div>
              <div class="centering_item_yen">\ {{ yusuke_warikan_diff }}</div>
            </div>
            <div class="col-5 ms-3 summary_card_warikan">
              <div class="card_title">Hinano 支払額</div>
              <div class="centering_item_yen">\ {{ hinano_warikan_diff }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <h1 class="display-6">個人別</h1>
      <div class="row">
        <div class="col-5 summary_card_personal">
          <div class="card_title">Yusuke</div>
          <div class="centering_item_yen">\ {{ yusuke_expenses }}</div>
        </div>
        <div class="col-5 ms-5 summary_card_personal">
          <div class="card_title">Hinano</div>
          <div class="centering_item_yen">\ {{ hinano_expenses }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5 summary_card_personal">
          <div class="card_title">Yusuke MOM</div>
          <div class="centering_item_yen"> {{ yusuke_mom }} {{ yusuke_mom_percent }}%</div>
        </div>
        <div class="col-5 ms-5 summary_card_personal">
          <div class="card_title">Hinano MOM</div>
          <div class="centering_item_yen"> {{ hinano_mom }} {{ yusuke_mom_percent }}%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="month-dash-bottom">
    <div>{{ plot_bar|safe }}</div>
  </div>
  {% endblock %}
</div>
